[submodule "sharpsat-td"]
	path = sharpsat-td
	url = git@github.com:mahi045/sharpsat-td.git
[submodule "ganak-asp"]
	path = ganak-asp
	url = git@github.com:mahi045/ganak-asp.git
[submodule "d4"]
	path = d4
	url = git@github.com:meelgroup/d4.git
	branch = asp
